
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}

p {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: lightgray;
}
/*//======================================*/

.header {
    width: 100%;
    background-color: cornflowerblue;
}

.logo__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.asu-usbs {
    display: flex;
}

.asu-usbs_link {
    display: flex;
}

.logo__asu {
    width: 70px;
    height: 70px;
}

.logo__text {
    display: flex;
    align-items: center;;
}
.inputText {
    margin: 0;
    padding: 0 15px;
    width: 270px;
    height: 35px;
    border-radius: 15px;
}

.items {
    width:  100%;
    position: fixed;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 100px;
}


.item:hover {
    color: red;
    transition: color 0.3s;
}

/*================== main ===================*/
.main__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.species__title {
    margin: 0;
    display: flex;
    justify-content: center;
}

.species__list {
    padding: 0 15px;
}
/*============= genus ==================*/
.genus {
    margin: 0;
}

.genus__type {
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.genus-title {
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.genus__type {
    margin: 0;
}

.genus__description {
    margin: 0;
    text-indent: 30px;
}
/*============================*/

.species__genus {
    margin: 0;
}

.species__history {
    margin: 0;
    display: flex;
    justify-content: center;
}

.description {
    margin: 0;
}

.section {
    margin-bottom: 15px;
}

.species__subgenus {
    margin: 0;
}

.species__section {
    margin: 0;
}

.species__literature {}

.species__type {
    margin: 0;
}

/*================= subgenus ============================*/
.subgenus {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.subgenus__title {
    margin: 0;
    display: flex;
    justify-content: center;
}

.subgenus__description {
    text-indent: 30px;
}
/*====================== section ========================*/
.section {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.species__section-name {
    font-weight: 700;
    font-style: italic;
    color: #000000;
}

.species__section {
    margin: 0;
    display: flex;
    justify-content: center;
}

.section__type {
    margin: 0;
    display: flex;
    justify-content: center;
}

.section__type-name {
    font-style: italic;
}

.section__description {
    text-indent: 30px;
}

.section-history {
    margin: 0;
    display: flex;
    justify-content: center;
}
/*=========================================================*/

.species__block {
    margin: 0;
    padding-bottom: 15px;
    text-indent: 30px;
}

.species__block_mistake {
    color: #835934;
}

.species__number {
    font-weight: bold;
}

.species__name-lat {
    font-weight: bold;
}

.species__author {
    font-weight: 400;
}

.species__synonym {
    font-style: italic;
}

.species__name-ru {
    font-style: italic;
}

.species-literature {
    margin: 0;
}

.publication-link:hover {
    color: #808080;
}

.species__place {
    margin: 0;
}

.species__protolog {
    margin: 0;
}

.species__eco {
    margin: 0;
}

.species__spread {
    margin: 0;
}

.species__spread-general {
    margin: 0;
}

.species__spread-local {
    margin: 0;
}

.species__spread-local_coerulea {
    color: #E20338;
}

.species__name-lat {
    font-size: 18px;
    transition: color .3s;
}

.species__name-lat_link {
    font-size: 16px;
    font-style: italic;
}

.species__name-lat:hover {
    color: #808080;
}

.species__note {
    font-size: 14px;
}

mark {
    background-color: coral;
}

.species__name-lat.hide {
    display: none;
}

/*================== note ===================================*/
.s

/*===========================footer=========================*/
.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    background-color: darkgrey;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contact__questions {
    margin: 0;
    padding: 0;
}

.my-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-email__link {}
