
/*================ main ========================*/
.main__content {
    width: 100%;
}

.key__header {
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
    font-weight: bold;
    font-size: 26px;
}

.species-key {
    padding: 25px 25px
}

.key__block {
    width: 100%;
    margin-bottom: 25px;
}

.key__string {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.key__species {
    width: 35%;
    font-weight: bold;
}
/* ======================= hover ==================*/
.key__species-block {
    white-space: nowrap;
}

.species__name-lat {
    font-size: 18px;
    transition: color .3s;
}

.species__name-lat:active {
    color: #808080;
}
.species__name-lat:hover {
    color: #808080;
}
.species__name-lat:focus {
    color: #808080;
}

/*================ footer =============================*/
